#!/bin/bash

if [ -f "/userdata/system/rgs.version" ]; then
    CURRENTRGSVERSION=$(cat /userdata/system/rgs.version)
else
    CURRENTRGSVERSION="0"
fi

if [[ "$CURRENTRGSVERSION" =~ ^41 ]]; then
    echo "version: 41"
    ARCHIVE="v41tov42update.tar.gz"
elif [[ "$CURRENTRGSVERSION" =~ ^42 ]]; then
    echo "version: 42"
    ARCHIVE="update.tar.gz"
else
   echo "wrong version"
   exit 1
fi

ARCHIVEPATH="/userdata/extractions/$ARCHIVE"

#read user configuration before "RGS TUNING", for user system changes
BEGINCONF=$(sed -e '/RGS TUNING/,$d' /userdata/system/batocera.conf)

#read end user conf after "END RGS".  (or jupace.emulator for v39 initial release)
if grep -q "END RGS" /userdata/system/batocera.conf; then
    ENDCONF=$(sed -e '0,/END RGS/d' /userdata/system/batocera.conf)
else
    ENDCONF=$(sed -e '0,/jupace.emulator/d' /userdata/system/batocera.conf)
fi


#download pack
echo "Downloading new files..."
wget --progress=dot:binary --no-check-certificate --no-cache --no-cookies -O $ARCHIVEPATH "http://rgsretro1986.ds78102.seedhost.eu/update/v42/$ARCHIVE"

if [[ "$CURRENTRGSVERSION" =~ ^41 ]]; then
    echo 'Deleting old files from v41'

    rm -rf /userdata/system/wine-bottles/*

    rm -rf /userdata/system/configs/winebat
    rm -rf /userdata/system/switch
    rm -rf /userdata/bios/switch/firmware/*
    rm -rf /userdata/system/configs/Ryujinx/bis/system/Contents/registered
    rm -rf /userdata/system/rgsfix
    rm /userdata/system/configs/emulationstation/es_systems_atarijaguarcd.cfg
    rm /userdata/system/configs/emulationstation/es_systems_lindbergh.cfg
    rm /userdata/system/configs/emulationstation/es_systems_triforce.cfg
    rm /userdata/system/configs/emulationstation/es_systems_gc-jp.cfg
    rm /userdata/system/configs/emulationstation/es_systems_gch.cfg
    rm /userdata/system/configs/emulationstation/es_systems_ps4.cfg
    rm /userdata/system/configs/evmapy/model3.keys

    #batocera pro cleanup
    rm /usr/share/applications/Ryujinx.desktop
    rm /usr/share/applications/yuzu.desktop
    rm /usr/share/applications/yuyu-config.desktop
    rm /usr/share/applications/yuyuEA-config.desktop
    rm /usr/share/applications/ryujinx-Avalonia-config.desktop
    rm /usr/share/applications/ryujinx-config.desktop
    rm /usr/share/applications/ryujinx-LDN-config.desktop
    rm /userdata/bios/switch/keys/title.keys_autogenerated
    rm -rf /userdata/bios/switch/firmware/*
    rm -rf /userdata/system/configs/Ryujinx/bis/system/Contents/registered
    rm /userdata/system/configs/Ryujinx/LDNConfig.json
    rm /userdata/system/configs/Ryujinx/BeforeRyu.json
    rm /userdata/system/configs/Ryujinx/system/title.keys_autogenerated
    rm /userdata/system/configs/Ryujinx/system/title.keys
    rm /userdata/system/configs/Ryujinx/system/prod.keys

else
    echo 'Deleting old files'



